################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug
/risk_path/Debug
/.vs/risk_path/v16
/risk_path/solution_path.txt
/risk_path/maps
/risk_path/simple_tree.bt
/risk_path/simple_tree.bt.edit.bt
