################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug
/risk_path/Debug
/.vs/risk_path/v16
/risk_path/solution_path.txt
/risk_path/maps
/risk_path/simple_tree.bt
/risk_path/simple_tree.bt.edit.bt
*.props
*.tlog
*.dll
/.vs/Path/v16
/packages/vcpkg.C.src.vcpkg.1.0.0
